# Ignorar el entorno virtual
.venv/
venv/
env/
ENV/

# Ignorar archivos de PyInstaller
dist/
build/

# Archivos de caché de Python
__pycache__/
*.py[cod]

# Archivos de configuración de PyCharm
.idea/

# Archivos de log
*.log
/sri_xml_bot/librerias/archivos/chromedriver.exe
/sri_xml_bot/librerias/archivos/rucs.txt
